.bg-light {
    background-color: #ffffff!important;
}

a.nav-link {
    font-size: 1.2rem;
}

.card{
    border: 0px;
}

.special-card {  
      background-color: rgba(245, 245, 245, 1);
      opacity: .8;
}

.d-inline-block{
    margin-right: -30px;
}

.fondoPlanesServicio{
    background-color:#5f5d5d;
}

.margenParrafo{
    margin-left: 3rem; 
}

.flex-row{
    flex-grow: 1;
    flex-basis: 0;
}

.line-vertical{
    border-left-width: 1rem;
    border-left-color: rgb(90, 27, 27);
}

.color-icon-banner{
    background-color: rgb(148, 4, 4);
}

.image-izquierda{
    margin-left: -245px;
}

.colorFondoCerfac{
    background-color: rgb(148, 4, 4);
    border-color: rgb(148, 4, 4);   
}

.colorLetraCerfac{
    color: rgb(148, 4, 4);
}

/*Propiedades por defecto para las propiedades generales para no escribir en cada propiedad de cada resolucion*/
.propiedades_div
{
	background-size: 100% 100%;
	height:100vh;
	width:100vw;
	
}

/* Css por defecto para los dispositivos mas pequeños*/
.imagen
{
	background-image: url('../img/portada/landing.png');	
}	


@media  (min-width: 200px) and (max-width: 575.98px) { 
    p.lead.font-size-1 {
        font-size: 0.9rem;
    } 
    
    h4.card-title.font-size-1{
        font-size: 0.7rem;
    }

    .card .carousel-item {
        height: 700px;
    }
    
    .landing{
        background-image: url('../img/portada/landing4.png');	
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .card .carousel-item {
        height: 500px;
    }
    .landing{
        background-image: url('../img/portada/landing3.png');
    }
}


@media (min-width: 768px) and (max-width: 991.98px) { 
    .imagen {
        background-image: url('../img/portada/landing.png');
    }

    p.lead.font-size-1 {
        font-size: 1.1rem;
    }

    h4.card-title.font-size-1{
        font-size: 1rem;
    }

    .card .carousel-item {
        height: 450px;
    }
    .landing{
        background-image: url('../img/portada/landing2.png');
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .card .carousel-item {
        height: 450px;
    }
    .landing{
        background-image: url('../img/portada/landing1.png');
    }
}


@media (min-width: 1200px) { 

    p.lead.font-size-1{
        font-size: 1.3rem;
    }

    h4.card-title.font-size-1{
        font-size: 1.5rem;
    }

    .card .carousel-item {
        height: 400px;
    }

    .landing{
        background-image: url('../img/portada/landing.png');
    }
}

.propiedadesm_div
{
	/* Agrego una imagen de fondo y la coloco con la propiedad size 100 para visualizar todo en el espacio del bloque */
	background-image:url('../img/quienesomos/valores1.png');
	/*background-size: 100%;*/
	/* EStablecer ancho y alto en dimensiones en proporcion a la parte visible de la pantalla que va dede 0 a 100 como porcentajes */	
}

.propiedades_div
{
    background-size: 100% 90%;
    background-repeat: no-repeat;
}

.mascara
{
	
	/*Establece la imagen que se va a usar de mascara */
	-webkit-mask: url('../img/quienesomos/mascara.png');
	/*Permite establecer todo el ancho y alto de la mascara*/
	-webkit-mask-size:100% 100%;
	/* Permite que la mascara este centrada */
	-webkit-mask-position:center;
	/*Permite que solo se muestre una vez la mascara y no como tapiz*/
	-webkit-mask-repeat:no-repeat;	
	/* Agrego adicional esta propiedad para que sea compatible con otros navegadores*/
	mask-image: url('../img/quienesomos/mascara.png');
	
}

.margenalto{
    margin-top: 10rem;
    margin-bottom: 10rem; 
}

.bg-light {
    background-color: #ffffff!important;
    opacity: .8;
}

/* Cambio los indicadores de carusel de lineas a circulos */
.carousel-indicators li {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 3px solid white;
    background-color: rgb(148, 4, 4);
}

.carousel-indicators .active {
    background-color: #5f5d5d;
}

/*Espacio entre bloques*/
.esp-bloq {
    height: 5rem;
}

/*Fondo info arriendos*/
.fond-bloq{
    background-color:rgb(228, 228, 228);
    padding-right: 0rem;
    margin-left: -1rem;
}

.align-img-izq{
    margin-right: -1rem
}

/*Filos redondos de jumbotron */
.rounded {
    border-radius: 1rem!important;
}

.jumbotron-style-1{
    padding-bottom: 20px;
}

.jumbotron-style-2{
    padding-bottom: 40px;
}

/*Tamaño de letra*/
h3.font-size-1{
    font-size: 1.2rem;
}

p.lead.font-size-2{
    font-size: 1rem;
}

h4.font-size-3{
    font-size: 1.8rem;
}

/*Propiedades para el carousel*/
.card {
    margin: 0 auto;
  }

/*  .card .carousel-item {
    height: 500px;
  }*/
  .card .carousel-caption {
    padding: 0;
    right: 0;
    left: 0;
    color: #3d3d3d;
  }
  .card .carousel-caption h3 {
    color: #3d3d3d;
  }
  .card .carousel-caption p {
    line-height: 30px;
  }
  .card .carousel-caption .col-sm-6 .img{
    display: flex;
    align-items: center;
  }
  .card .carousel-caption .col-sm-6 {
    text-align: left;
  }
  .navi a {
      text-decoration:none;
  }
  a > .ico {
      background-color: grey;
      padding: 10px;
      
  }
  a:hover > .ico {
      background-color: #666;
  }